@font-face {
  font-family: "NextIcon"; /* Project id 1784324 */
  src: url('iconfont.woff2?t=1637151507841') format('woff2'),
       url('iconfont.woff?t=1637151507841') format('woff'),
       url('iconfont.ttf?t=1637151507841') format('truetype');
}

.NextIcon {
  font-family: "NextIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.next-icon-qj-end:before {
  content: "\c106";
}

.next-icon-qj-start:before {
  content: "\c105";
}

.next-icon-uil_times:before {
  content: "\c104";
}

.next-icon-uil_pen:before {
  content: "\c101";
}

.next-icon-uil_plus:before {
  content: "\c100";
}

.next-icon-uil_search-alt:before {
  content: "\c09f";
}

.next-icon-uil_parcel:before {
  content: "\c09e";
}

.next-icon-uil_trash-alt:before {
  content: "\c09d";
}

.next-icon-uil_import:before {
  content: "\c09c";
}

.next-icon-uil_cloud-upload:before {
  content: "\c09b";
}

.next-icon-fadongjicooling:before {
  content: "\c09a";
}

.next-icon-huashuichuyan:before {
  content: "\c099";
}

.next-icon-fuzhuzhengqi:before {
  content: "\c098";
}

.next-icon-tuoliu:before {
  content: "\c097";
}

.next-icon-deh:before {
  content: "\c096";
}

.next-icon-kongyaji:before {
  content: "\c095";
}

.next-icon-ranyou:before {
  content: "\c094";
}

.next-icon-rewang:before {
  content: "\c093";
}

.next-icon-guolv:before {
  content: "\c092";
}

.next-icon-rewangshouzhan:before {
  content: "\c091";
}

.next-icon-lengduan:before {
  content: "\c090";
}

.next-icon-qijifuji:before {
  content: "\c08f";
}

.next-icon-huire:before {
  content: "\c08e";
}

.next-icon-qiji:before {
  content: "\c08d";
}

.next-icon-zhifen:before {
  content: "\c08c";
}

.next-icon-fadianji:before {
  content: "\c08b";
}

.next-icon-geishui:before {
  content: "\c08a";
}

.next-icon-fengyan:before {
  content: "\c089";
}

.next-icon-qishui:before {
  content: "\c088";
}

.next-icon-icon-add:before {
  content: "\c087";
}

.next-icon-mine1:before {
  content: "\c086";
}

.next-icon-zuzhijigou_full_02:before {
  content: "\c085";
}

.next-icon-zuzhijigou_full_01:before {
  content: "\c084";
}

.next-icon-zhankai:before {
  content: "\c083";
}

.next-icon-shouqi:before {
  content: "\c082";
}

.next-icon-up:before {
  content: "\c081";
}

.next-icon-down:before {
  content: "\c07f";
}

.next-icon-line-zhankai:before {
  content: "\c07e";
}

.next-icon-line-shouqi:before {
  content: "\c07d";
}

.next-icon-line-up:before {
  content: "\c07c";
}

.next-icon-line-down:before {
  content: "\c07b";
}

.next-icon-line-excel:before {
  content: "\c07a";
}

.next-icon-line-quxian:before {
  content: "\c079";
}

.next-icon-mine:before {
  content: "\c078";
}

.next-icon-zhishi:before {
  content: "\c077";
}

.next-icon-suanfa_01:before {
  content: "\c076";
}

.next-icon-feishui_01:before {
  content: "\c075";
}

.next-icon-sanwei_01:before {
  content: "\c074";
}

.next-icon-biaoji_01:before {
  content: "\c073";
}

.next-icon-biaoji_02:before {
  content: "\c072";
}

.next-icon-guanwang_01:before {
  content: "\c071";
}

.next-icon-guanwang_02:before {
  content: "\c070";
}

.next-icon-pingheng_01:before {
  content: "\c06f";
}

.next-icon-liuliang_01:before {
  content: "\c06e";
}

.next-icon-shuizhi_01:before {
  content: "\c06d";
}

.next-icon-nodiot_diqiu:before {
  content: "\c06c";
}

.next-icon-nodiot_Drag-Hand:before {
  content: "\c06b";
}

.next-icon-nodiot_drag_linearrow:before {
  content: "\c06a";
}

.next-icon-nodiot_drag_arrow:before {
  content: "\c069";
}

.next-icon-nodiot_shebeiguanli:before {
  content: "\c068";
}

.next-icon-nodiot_charts_scatter:before {
  content: "\c067";
}

.next-icon-nodiot_gridbt:before {
  content: "\c066";
}

.next-icon-nodiot_charts_line_01:before {
  content: "\c065";
}

.next-icon-nodiot_charts_pie_01:before {
  content: "\c064";
}

.next-icon-nodiot_charts_line_02:before {
  content: "\c063";
}

.next-icon-nodiot_charts_pie_02:before {
  content: "\c062";
}

.next-icon-nodiot_charts_bar_01:before {
  content: "\c061";
}

.next-icon-nodiot_charts_line_03:before {
  content: "\c060";
}

.next-icon-nodiot_charts_bar_02:before {
  content: "\c05f";
}

.next-icon-nodiot_charts_line_04:before {
  content: "\c05e";
}

.next-icon-nodiot_charts_pie_03:before {
  content: "\c05d";
}

.next-icon-nodiot_back_cycle_bold:before {
  content: "\c05c";
}

.next-icon-nodiot_yanzhengma_bold:before {
  content: "\c05b";
}

.next-icon-nodiot_signout_bolder:before {
  content: "\c005";
}

.next-icon-nodiot_printer_bolder:before {
  content: "\c032";
}

.next-icon-nodiot_camer_bold:before {
  content: "\c033";
}

.next-icon-nodiot_photo_bold:before {
  content: "\c034";
}

.next-icon-nodiot_folder_open_bold:before {
  content: "\c035";
}

.next-icon-nodiot_analysis_01:before {
  content: "\c036";
}

.next-icon-nodiot_camer_line:before {
  content: "\c037";
}

.next-icon-nodiot_delete_cycle_boldbg:before {
  content: "\c006";
}

.next-icon-nodiot_setting_01:before {
  content: "\c008";
}

.next-icon-nodiot_preview_01:before {
  content: "\c007";
}

.next-icon-nodiot_file_ppt:before {
  content: "\c01c";
}

.next-icon-nodiot_attachment_upload_01:before {
  content: "\c038";
}

.next-icon-nodiot_attachment_upload_02:before {
  content: "\c039";
}

.next-icon-nodiot_share_01:before {
  content: "\c03a";
}

.next-icon-nodiot_message_line:before {
  content: "\c03b";
}

.next-icon-nodot_download_01:before {
  content: "\c03c";
}

.next-icon-nodot_goods:before {
  content: "\c03e";
}

.next-icon-nodiot_search_01:before {
  content: "\c009";
}

.next-icon-nodiot_file_pdf:before {
  content: "\c01b";
}

.next-icon-nodiot_folder_open_small_bold:before {
  content: "\c03f";
}

.next-icon-nodiot_folder_close_bold_01:before {
  content: "\c040";
}

.next-icon-nodiot_edit_01:before {
  content: "\c041";
}

.next-icon-zhengque:before {
  content: "\c010";
}

.next-icon-nodiot_folder_close_bold_02:before {
  content: "\c042";
}

.next-icon-nodiot_alram_line:before {
  content: "\c043";
}

.next-icon-nodiot_attachment_upload_03:before {
  content: "\c044";
}

.next-icon-nodiot_device_01:before {
  content: "\c045";
}

.next-icon-nodiot_file_notepad:before {
  content: "\c046";
}

.next-icon-nodiot_delete_01:before {
  content: "\c00a";
}

.next-icon-nodiot_file_plain:before {
  content: "\c047";
}

.next-icon-nodiot_eyes_open:before {
  content: "\c00b";
}

.next-icon-nodiot_printer_bolder_02:before {
  content: "\c00c";
}

.next-icon-nodiot_user_avatar:before {
  content: "\c048";
}

.next-icon-nodiot_alarm_02:before {
  content: "\c00d";
}

.next-icon-nodiot_leftright_cycle_fill:before {
  content: "\c049";
}

.next-icon-nodiot_edit_02:before {
  content: "\c04a";
}

.next-icon-nodiot_safety_fill:before {
  content: "\c04b";
}

.next-icon-nodiot_home_fill:before {
  content: "\c00e";
}

.next-icon-nodiot_modules_fill:before {
  content: "\c00f";
}

.next-icon-nodiot_message_bold:before {
  content: "\c011";
}

.next-icon-nodiot_setting_02:before {
  content: "\c012";
}

.next-icon-nodiot_org_fill:before {
  content: "\c04c";
}

.next-icon-nodiot_edit_03:before {
  content: "\c04d";
}

.next-icon-nodiot_alarm_03:before {
  content: "\c04e";
}

.next-icon-nodiot_documents_fill:before {
  content: "\c04f";
}

.next-icon-nodiot_alarm_04:before {
  content: "\c013";
}

.next-icon-nodiot_rmb_cycle_fill:before {
  content: "\c014";
}

.next-icon-nodiot_lianyou_device_02:before {
  content: "\c050";
}

.next-icon-nodiot_database:before {
  content: "\c015";
}

.next-icon-nodiot_setting_03:before {
  content: "\c016";
}

.next-icon-nodiot_setting_04:before {
  content: "\c017";
}

.next-icon-nodiot_setting_05:before {
  content: "\c051";
}

.next-icon-nodiot_recycle:before {
  content: "\c018";
}

.next-icon-nodiot_file_word:before {
  content: "\c019";
}

.next-icon-nodiot_file_excel:before {
  content: "\c01a";
}

.next-icon-nodiot_grid:before {
  content: "\c052";
}

.next-icon-nodiot_setting_06_line:before {
  content: "\c01d";
}

.next-icon-nodiot_add_cycle_line_bold:before {
  content: "\c01e";
}

.next-icon-nodiot_edit_04:before {
  content: "\c01f";
}

.next-icon-nodiot_attachment_upload_04:before {
  content: "\c020";
}

.next-icon-nodiot_monitor_cycle_fill:before {
  content: "\c053";
}

.next-icon-nodiot_refresh_line_bold:before {
  content: "\c054";
}

.next-icon-nodiot_temperature_cycle_fill:before {
  content: "\c055";
}

.next-icon-nodiot_menuoff:before {
  content: "\c021";
}

.next-icon-nodiot_menuon:before {
  content: "\c022";
}

.next-icon-nodiot_home_line_bold:before {
  content: "\c023";
}

.next-icon-nodiot_report:before {
  content: "\c056";
}

.next-icon-nodiot_add_cycle_bold:before {
  content: "\c001";
}

.next-icon-nodiot_delete_cycle_bold:before {
  content: "\c002";
}

.next-icon-nodiot_edit_05:before {
  content: "\c024";
}

.next-icon-nodiot_setting_07_line:before {
  content: "\c025";
}

.next-icon-nodot_download_02:before {
  content: "\c026";
}

.next-icon-nodiot_title-shuxian:before {
  content: "\c027";
}

.next-icon-icon_duse:before {
  content: "\c057";
}

.next-icon-icon_neilou:before {
  content: "\c058";
}

.next-icon-nodiot_menu-unfold:before {
  content: "\c028";
}

.next-icon-nodiot_menu-fold:before {
  content: "\c029";
}

.next-icon-nodiot_edit_06:before {
  content: "\c02a";
}

.next-icon-nodiot_lianyou_device:before {
  content: "\c02b";
}

.next-icon-nodiot_preview_02:before {
  content: "\c02c";
}

.next-icon-nodiot_delete_02:before {
  content: "\c02d";
}

.next-icon-nodiot_fushi:before {
  content: "\c059";
}

.next-icon-nodiot_alarm_05:before {
  content: "\c02e";
}

.next-icon-nodiot_charts_bar_03:before {
  content: "\c02f";
}

.next-icon-nodiot_documents_02:before {
  content: "\c05a";
}

.next-icon-nodiot_rocket:before {
  content: "\c030";
}

.next-icon-nodiot_signout_line:before {
  content: "\c031";
}

.next-icon-password:before {
  content: "\c003";
}

.next-icon-username:before {
  content: "\c004";
}

